
{{$ctrl.username}}
<div class="row">
    <div class="col-md-3">
        <channels-list channels="$ctrl.channels" select-channel="$ctrl.onChannelSelect(value)"></channels-list>
    </div>
    <div class="col-md-9">
        <messages messages="$ctrl.messages"></messages>
    </div>
</div>
<div class="row">
    <div class="">
    </div>
    <div class="col-md-offset-3 col-md-9 well">
        <form class="form-group" ng-submit="$ctrl.send()">
            <div class="form-group">
                <textarea ng-model="$ctrl.message" cols="30" rows="5" class="form-control" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Go!</button>
        </form>
    </div>
</div>
